<div class="flex justify-between items-center mb-1">
  @if (isMicro()) {
  <div class="text-sm">1.</div>
  } @else {
  <ng-icon class="mr-2" name="lucideClock" size="18px"></ng-icon>
  }

  <input
    type="text"
    placeholder="Цель"
    class="input input-sm w-full grow focus:outline-none focus:border-0 focus:bg-neutral-50"
  />
  @if (isMicro()) {
  <input type="checkbox" class="checkbox checkbox-md ml-2" />
  }
</div>
<div class="flex items-center mb-1">
  @if (isMicro()) {
  <div class="text-sm">2.</div>
  } @else {
  <ng-icon class="mr-2" name="lucideSmile" size="18px"></ng-icon>
  }

  <input
    type="text"
    placeholder="Цель"
    class="input input-sm w-full grow focus:outline-none focus:border-0 focus:bg-neutral-50"
  />
  @if (isMicro()) {
  <input type="checkbox" class="checkbox checkbox-md ml-2" />
  }
</div>
<div class="flex items-center mb-1">
  @if (isMicro()) {
  <div class="text-sm">3.</div>
  } @else {
  <ng-icon class="mr-2" name="lucideBanknote" size="18px"></ng-icon>
  }

  <input
    type="text"
    placeholder="Цель"
    class="input input-sm w-full grow focus:outline-none focus:border-0 focus:bg-neutral-50"
  />
  @if (isMicro()) {
  <input type="checkbox" class="checkbox checkbox-md ml-2" />
  }
</div>
