<div [formGroup]="scheduleItem()" class="flex justify-between items-center">
  <div class="px-2 text-xs">
    {{ timePeriod().toString().padStart(2, '0') }}:00
  </div>
  <div class="grow px-2">
    <input
      formControlName="firstItem"
      type="text"
      placeholder=""
      class="input input-xs input-bordered border-0 border-b w-full text-blue-700 focus:outline-none focus:bg-neutral-50"
    />
    <input
      formControlName="secondItem"
      type="text"
      placeholder=""
      class="input input-xs w-full focus:outline-none text-blue-700 focus:border-0 focus:bg-neutral-50"
    />
  </div>
  <div class="px-2">
    <input
      formControlName="isDone"
      type="checkbox"
      class="checkbox checkbox-lg"
    />
  </div>
</div>
