<main class="md:container mx-auto px-4">
  <section class="mt-4 mb-16">
    <app-header [user]="user()" (logout)="logout()"></app-header>
  </section>
  <section>
    <button class="btn btn-primary w-full mb-2" (click)="addNewManifest()">
      Новый манифест
    </button>
    <ul class="w-full">
      @for (item of manifestsList(); track $index) {
      <li>
        <a
          [routerLink]="['/app/manifest', item.id]"
          class="btn btn-outline w-full mb-2"
          >{{ item.date }}</a
        >
      </li>
      }
    </ul>
  </section>
</main>
