<main class="md:container mx-auto px-4">
  <section class="mt-4 mb-8">
    <app-header [user]="user()" (logout)="logout()"></app-header>
  </section>

  <form
    [formGroup]="manifestForm"
    class="md:grid md:grid-cols-2 md:gap-8 w-full"
  >
    <section formGroupName="schedule" class="grow py-4 mb-8">
      <h2 class="font-semibold text-xs mb-3 uppercase">План на день</h2>
      <div formArrayName="items" class="border-b-2">
        @for (scheduleItem of
        manifestForm.controls.schedule.controls.items.controls; let idx =
        $index; track idx) {
        <div class="border-t-2">
          <app-schedule-item
            [scheduleItem]="scheduleItem"
            [timePeriod]="timePeriods[idx]"
          ></app-schedule-item>
        </div>
        }
      </div>
    </section>

    <div>
      <section class="border py-4 px-4 mb-8">
        <div class="flex justify-between items-center mb-3">
          <h2 class="font-semibold text-xs uppercase">
            Макро (глобальные цели)
          </h2>
          <div class="font-medium text-xs opacity-50 uppercase">90 дней</div>
        </div>
        <app-goals [goals]="manifestForm.controls.goals"></app-goals>
      </section>

      <section class="border py-4 px-4 mb-8">
        <div class="flex justify-between items-center mb-3">
          <h2 class="font-semibold text-xs uppercase">
            Мезо (промежуточные цели)
          </h2>
          <div class="font-medium text-xs opacity-50 uppercase">30 дней</div>
        </div>
        <app-goals [goals]="manifestForm.controls.milestones"></app-goals>
      </section>

      <section class="border py-4 px-4 mb-8">
        <div class="flex justify-between items-center mb-3">
          <h2 class="font-semibold text-xs uppercase">Микро (задачи)</h2>
          <div class="font-medium text-xs opacity-50 uppercase">Сегодня</div>
        </div>
        <app-goals
          [isMicro]="true"
          [goals]="manifestForm.controls.tasks"
        ></app-goals>
      </section>
    </div>
  </form>
</main>
